locals.zsh
log/.zsh_history
projects.zsh
custom/*
!custom/example
!custom/example.zsh
zsh/custom/aws.zsh
cache
*.swp
vim/.vim-srv/
vim/.vim/bundle/
vim/.vim/.netrwhist
mutt/.mutt/imap-cache
mutt/.mutt/imap-message/*
zsh/cloudstack
